#!/usr/bin/make -f

#FIXME: DEB_PERL_INCLUDE = ...

include /usr/share/cdbs/1/rules/debhelper.mk

build/cfgf::
	# tests disabled for now (would need the full deps at build-time)
	#$(MAKE)

install/cfgf::
	$(MAKE) install DESTDIR=debian/cfgf LOCAL= cfgf_conf=cfgf.conf.fhs

